@import url('https://fonts.google.com/specimen/Libre+Baskerville?query=libr');
@import url('https://fonts.google.com/specimen/League+Spartan?query=leag');

@font-face {
  font-family: 'League Spartan';
  src: url('https://fonts.google.com/specimen/League+Spartan?query=leag');
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('https://fonts.google.com/specimen/Libre+Baskerville?query=libr');
}

body {
  background-color: #efebe2;
}

.app-header {
  background-color: #b3926c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5 rem;
  color: #efebe2;
  font-family: 'League Spartan', sans-serif;
  display: block;
  border-radius: 1.1 rem;
}

.app-container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  background-color: #ABB0B8;
  padding: 2rem;
  border-radius: 1.2rem;
  max-width: 300px;
  margin: 0 auto; 
  text-align: center;
}

.heading-one {
  font-family: League Spartan;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  display: block;
}

.heading-four {
  font-family: 'Libre Baskerville';
  font-style: italic;
  justify-content: center;
  text-align: center;
  display: block;
}

.container-header {
  background-color:#c0c0c0;
  color: #000;
  padding: 10px;
  font-weight: bold;
  text-align: left;
  font-family: 'Libre Baskerville', sans-serif;
}

.btn-custom {
  color: #000;
  border-color: secondary;
  background: #e6e6e6;
}

.btn-round {
  border-radius: 20px;
  font-family: 'Libre Baskerville', sans-serif;
}

.btn-custom:hover {
  background-color: #b8a598;
}

.input-container {
  border-radius: 20px;
  font-family: 'Libre Baskerville', sans-serif;
}

.list-item {
  font-family: 'Libre Baskerville', sans-serif;
  font-style: italic;
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom:2px;
  padding-left:5px;
  padding-right: 5px;
  border: 1px solid #ccc;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 3px;
  margin-right: 3px;
}

.list-item:hover {
  background-color: #efebe2;
}