@import url('https://fonts.google.com/specimen/Libre+Baskerville?query=libr');
@import url('https://fonts.google.com/specimen/League+Spartan?query=leag');

body {
  margin: 10;
  font-family:'Libre Baskerville', sans-serif;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  font-family: 'League Spartan', san-serif;
  margin: 10;
  align-items: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
